{% extends 'base.html' %}
{% block content %}
<p>Enter your email address to receive a password reset link.</p>
<form method="POST">
    {% csrf_token %}
    <p>
    <label for="email">Email</label>
    <input
        id="email"
        type="email"
        name="email"
        required
        autocomplete="email"
        class="form-control"
    />
    </p>
    <div class="text-center">
    <button type="submit" class="text-white btn bg-dark">
        Send Reset Link
    </button>
</div>
{% endblock content %}
